.addBtn {
    font-size: 15px;
    padding: 25px 35px;
    background: #30D3AB;
    color: #FFF8E6;
    line-height: 0px;
    border: none;
    border-radius: 3px;
    transition: 0.3s;
}

.addBtn:hover {
    background: #1fa086;
}

.prodDesc {
    color: #FFF8E6;
    line-height: 30px;
}

.characters {
    padding: 0 18px;
}

.prodImg {
    position: relative;
}
.prodImg img {
    position: absolute;
}

.ratingImg {
    left: 90%;
    top: 10px;
    position: relative;
}
.margin-top-510px{
    margin-top: 510px;
}
.inputWindow{
    width: 60%;
    height: 300px;
    position: absolute;
    top: 25%;
    left: 20%;
    background: rgba(48, 48, 82, 0.59);
}
.closeInputWindow{
    position: relative;
    border-radius: 50%;
    background: #AD394A;
    color: white;
    font-size: 20px;
    left: 95%;
    top: 5%;
    cursor: pointer;
}
.headerInputWindow{
    color: #cccccc;
    position: relative;
    top: 0;
    left: 5%;
}
.inputInInputWindow{
    position: relative;
    top: 10%;
    left: 10%;
    width: 80%;
    font-size: 25px;
    border: 1px solid #ccc;
    line-height: normal;
    border-radius: 3px;
}
.buttonInInputWindow{
    position: relative;
    left: 20%;
    width: 60%;
    margin-top: 30px;
    font-size: 16px;
    line-height: 25px;
    border-radius: 5px;
    border: inherit;
    background: #1F5846;
    color: #FFF8E6;
}