.registr{
    height: 550px;
    background: #007785;
    border: 5px solid #3E5370;
}
.reg-inp {
    width: 90%;
    height: 55px;
    font-size: 20px;
    padding-left: 30px;
    box-sizing: border-box;
}
.reg-inp:focus {
    background: #b4ffaf;
    color: #121D33;
}
.registr h1 {
    background: rgb(38, 65, 90);
    padding: 15px 0;
    margin: 0 0;
}
.btn-inp{
    width: 90%;
    height: 55px;
    background: #ea5252;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 20px;
}
.btn-inp:focus{
    background: #1F5846;
}